DEBUG=True
SECRET_KEY=django-insecure-&iakrhsw*(bpglwe8g#xgq_d5ju!zh1hjjcpr(z26q1i2($j#q
ALLOWED_HOSTS=127.0.0.1,localhost


FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://your-frontend-domain.com
API_BASE_URL=http://127.0.0.1:8000/